@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-VariableFont_slnt,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: optional;
}
